.project-page {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: calc(100% - 4rem);
    height: 100%;
    padding: 2rem;
    gap: 1.5rem;
    overflow-y: auto;
}
.project-page > .project {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(400px - 3rem);
    height: 300px;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--black);
    gap: 1rem;
    transition: all 0.2s ease-in-out;
    .thumbnail {
        position: relative;
        display: flex;
        width: 100%;
        img {
            width: 100%;
            height: 144px;
            object-fit: cover;
            object-position: 50% 0%;
        }
    }
    .info {
        position: relative;
        display: inline-block;
        width: 100%;
        h3 {
            margin: 0;
            color: var(--text);
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
                color: var(--info);
            }
        }
    }
    .keywords {
        position: relative;
        display: flex;
        width: 100%;
        gap: 0.5rem;
        span {
            position: relative;
            display: block;
            font-size: small;
            color: var(--primary);
            border: 1px solid var(--primary);
            padding: 5px 8px;
            border-radius: 1rem;
            cursor: default;
        }
    }
    .story {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        span {
            position: relative;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            white-space: normal;
            overflow: hidden;
            width: 100%;
            font-size: small;
            font-weight: lighter;
            color: var(--text);
        }
        .read-more {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            font-size: small;
            div {
                padding: 5px;
                text-decoration: underline;
                color: var(--info);
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 940px) {
    .project-page {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        width: calc(100% - 4rem);
        height: 100%;
        gap: 1.5rem;
        overflow: auto;
    }
    .project-page > .project {
        position: relative;
        display: flex;
        flex-direction: column;
        width: calc(100% - 3rem);
        height: 300px;
        padding: 1.5rem;
        border-radius: 0.5rem;
        background-color: var(--black);
        gap: 1rem;
        transition: all 0.2s ease-in-out;

        .thumbnail {
            position: relative;
            display: flex;
            width: 100%;
            img {
                width: 100%;
                height: 144px;
                object-fit: cover;
                object-position: 50% 0%;
            }
        }
        .info {
            position: relative;
            display: inline-block;
            width: 100%;
            h3 {
                margin: 0;
                color: var(--text);
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover {
                    color: var(--info);
                }
            }
        }
        .keywords {
            position: relative;
            display: flex;
            width: 100%;
            gap: 0.5rem;
            span {
                position: relative;
                display: block;
                font-size: small;
                color: var(--primary);
                border: 1px solid var(--primary);
                padding: 5px 8px;
                border-radius: 1rem;
                cursor: default;
            }
        }
        .story {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            span {
                position: relative;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                white-space: normal;
                overflow: hidden;
                width: 100%;
                font-size: small;
                font-weight: lighter;
                color: var(--text);
            }
            .read-more {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                font-size: small;
                div {
                    padding: 5px;
                    text-decoration: underline;
                    color: var(--info);
                    cursor: pointer;
                }
            }
        }
    } 
}