.stock-page {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    overflow-y: auto;
    padding: 1.5rem;
    gap: 1rem;

    .search-section {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;

        .searchType-selector {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            gap: 0.5rem;
            & > span {
                position: relative;
                display: flex;
                align-items: center;
                color: var(--text);
                width: calc(100px - 1rem);
                justify-content: space-between;
                cursor: pointer;
                border-radius: 0.5rem;
                border: 1px solid var(--text);
                padding: 0.5rem;
            }

            .searchType-options {
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 2.5rem;
                width: calc(100px - 2px);
                z-index: 1;
                padding: 2px;
                background-color: var(--text);
                overflow-y: hidden;
                border-radius: 0.5rem;
                & > span {
                    color: var(--black);
                    padding: calc(0.5rem - 2px);
                    border-radius: 0.5rem;
                    cursor: pointer;
                    transition: all 0.1s ease-in-out;
                    &:hover {
                        background-color: var(--gray);
                        color: var(--text);
                    }
                }
            }

            & > input {
                position: relative;
                height: 100%;
                flex: 1;
                font-size: large;
                padding: 0.5rem;
                border-radius: 0.5rem;
                outline: none;
                color: var(--text);
                background-color: transparent;
                border: 1px solid var(--text);
                transition: all 0.2s ease-in-out;
                &:focus {
                    border: 1px solid var(--primary);
                }
            }

            .search {
                position: relative;
                display: flex;
                height: 100%;
                cursor: pointer;
                & > svg {
                    color: var(--text);
                    width: 28px;
                    height: 100%;
                    margin: auto;
                }
                &:active {
                    & > svg {
                        color: var(--primary);
                    }
                }
            }
        }
    }
    
    .result {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;

        .stock-info {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            gap: 0.5rem;
            & > span {
                position: relative;
                display: inline-flex;
                font-size: medium;
                text-align: center;
                padding: 0.5rem;
            }
            .code {
                background-color: var(--primary);
                border-radius: 0.5rem;
            }
            .name {
                color: var(--text);
            }
            .finalPrice {
                color: var(--text);
                font-size: large;
                text-decoration: underline;
            }
        }
    
        .graph {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            .item {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
            }
        }
    }
}