html {
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

body {
    position: relative;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    margin: 2px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: rgba(128, 128, 128, 0.534);
}
body::-webkit-scrollbar-thumb:hover {
    border-radius: 0.5rem;
    background-color: rgba(128, 128, 128, 0.781);
}
body::-webkit-scrollbar-thumb:active {
    border-radius: 0.5rem;
    background-color: rgb(128, 128, 128);
}

#root {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    --black: #26282B;
    --gray: #353941;
    --primary: #5F85DB;
    --info: #90B8F8;
    --highlight: #E3A2EE;
    --danger: #F97474;
    --success: #09C6AB;
    --text: rgb(200, 200, 200);

    --nav-width: 40px;
    --icon-size: 24px;

    --nav-bg-color: var(--black);
    --main-view-bg-color: var(--gray);
    --icon-color: var(--info);
}

.scrollable::-webkit-scrollbar {
    width: 5px;
}
.scrollable::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    margin: 2px;
}
.scrollable::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: rgba(128, 128, 128, 0.534);
}
.scrollable::-webkit-scrollbar-thumb:hover {
    border-radius: 0.5rem;
    background-color: rgba(128, 128, 128, 0.781);
}
.scrollable::-webkit-scrollbar-thumb:active {
    border-radius: 0.5rem;
    background-color: rgb(128, 128, 128);
}