.home-page {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    & > div {
        position: relative;
        display: flex;
        width: calc(100% - 3rem);
        height: calc(250px - 3rem);
        padding: 1.5rem;
    }
}