.contact-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    padding: 1.5rem;
    overflow-x: hidden;
}
.contact-page > .contact-card {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: calc(90% - 4rem);
    gap: 1rem;
    height: auto;
    margin: auto;
    border-radius: 0.5rem;
    background-color: var(--black);
    padding: 2rem;
}
.contact-page > .contact-card > div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc((100% - 1rem) / 2);
}

.contact-info {
    gap: 1rem;
    & > div {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        span {
            background-color: var(--primary);
            width: 80px;
            height: 30px;
            text-align: center;
            line-height: 32px;
            border-radius: 0.5rem;
            font-size: small;
            color: var(--black);
        }
        a {
            font-size: medium;
            flex: 1;
            color: var(--text);
            text-decoration: none;
            &:hover {
                color: var(--info);
            }
            &:active {
                color: var(--highlight);
            }
        }
        svg {
            width: 16px;
            cursor: pointer;
            color: var(--text);
            &:hover {
                color: var(--info);
            }
            &:active {
                color: var(--highlight);
            }
        }
    }
    .name {
        color: var(--text);
        font-size: larger;
        font-weight: 600;
    }
}

.email-form {
    gap: 1.5rem;
    .title {
        position: relative;
        h1 {
            position: relative;
            margin: 0;
            color: var(--primary);
        }
    }
    .form {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;
    }
    .form > div {
        position: relative;
        input {
            position: relative;
            width: calc(100% - 16px);
            height: 2rem;
            padding: 5px 8px;
            border-radius: 0.5rem;
            outline: none;
            border: 1px solid var(--black);
            background-color: whitesmoke;
            font-size: small;
        }
        textarea {
            position: relative;
            width: calc(100% - 16px);
            height: 4rem;
            padding: 5px 8px;
            border-radius: 0.5rem;
            outline: none;
            border: 1px solid var(--black);
            background-color: whitesmoke;
            resize: none;
            font-size: small;
        }
        .errorMsg {
            color: var(--danger);
            font-size: small;
        }
    }
    .btn-submit {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        button {
            position: relative;
            width: 80px;
            height: 40px;
            border-radius: 0.5rem;
            background-color: var(--primary);
            border: 1px solid var(--black);
            color: var(--black);
            font-weight: 600;
            cursor: pointer;
            &:hover {
                background-color: var(--info);
            }
            &:active {
                border: 1px solid var(--info);
            }
        }
    }
}

@media screen and (max-width: 940px) {
    .contact-page {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 3rem);
        height: calc(100% - 3rem);
        padding: 1.5rem;
    }
    .contact-page > .contact-card {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: calc(100% - 3rem);
        height: auto;
        margin: auto;
        border-radius: 0.5rem;
        background-color: var(--black);
        padding: 1.5rem;
        gap: 2rem;
    }
    .contact-page > .contact-card > div {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .contact-info {
        gap: 1rem;
        & > div {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 0.5rem;
            span {
                background-color: var(--primary);
                width: 80px;
                height: 30px;
                text-align: center;
                line-height: 32px;
                border-radius: 0.5rem;
                font-size: small;
                color: var(--black);
            }
            a {
                flex: 1;
                font-size: medium;
                color: var(--text);
                text-decoration: none;
                &:hover {
                    color: var(--info);
                }
                &:active {
                    color: var(--highlight);
                }
            }
            svg {
                width: 16px;
                cursor: pointer;
                color: var(--text);
                &:hover {
                    color: var(--info);
                }
                &:active {
                    color: var(--highlight);
                }
            }
        }
        .name {
            color: var(--text);
            font-size: larger;
            font-weight: 600;
        }
    }
    
    .email-form {
        gap: 1.5rem;
        .title {
            position: relative;
            h1 {
                position: relative;
                margin: 0;
                color: var(--primary);
            }
        }
        .form {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.5rem;
        }
        .form > div {
            position: relative;
            input {
                position: relative;
                width: calc(100% - 16px);
                height: 2rem;
                padding: 5px 8px;
                border-radius: 0.5rem;
                outline: none;
                border: 1px solid var(--black);
                background-color: whitesmoke;
                font-size: small;
            }
            textarea {
                position: relative;
                width: calc(100% - 16px);
                height: 4rem;
                padding: 5px 8px;
                border-radius: 0.5rem;
                outline: none;
                border: 1px solid var(--black);
                background-color: whitesmoke;
                resize: none;
                font-size: small;
            }
        }
        .btn-submit {
            position: relative;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            button {
                position: relative;
                width: 80px;
                height: 40px;
                border-radius: 0.5rem;
                background-color: var(--primary);
                border: 1px solid var(--black);
                color: var(--black);
                font-weight: 600;
                cursor: pointer;
                &:hover {
                    background-color: var(--info);
                }
                &:active {
                    border: 1px solid var(--info);
                }
            }
        }
    }
}